@page "/"

<PageTitle>Home</PageTitle>

<div class="container mb-5 ">
    <div class="row align-items-center justify-content-center">

       
        <div class="col-md-6 order-md-2 mb-3 mb-md-0">
            <div class="text-center text-md-start">
                <h1 class="on-focus">About me</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lectus lacus. Nullam convallis porta ante nec tempor. Praesent ac mi non nisl molestie vehicula vel et metus. Aliquam at sagittis sem. Suspendisse tempus neque orci, id vulputate purus egestas in. Nulla et gravida nisl, ac aliquet nibh. Aenean non lacus non diam faucibus varius. Fusce ac suscipit neque.
                </p>
                <p>
                    Quisque non massa porttitor massa feugiat porttitor a in est. Nullam eget dignissim leo, ac suscipit justo. Morbi iaculis lorem eros, facilisis varius eros aliquet scelerisque. Pellentesque feugiat rhoncus libero sed vulputate. Donec vel placerat nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras non enim eu orci tincidunt semper maximus quis mauris. Fusce elementum sem ac nisi suscipit, eu feugiat quam gravida. Nunc malesuada pellentesque odio, id porttitor massa. Proin eget pellentesque orci, vel mollis purus. Quisque quis ligula vitae quam vestibulum bibendum. Donec ut neque.
                </p>
            </div>
        </div>

        
        <div class="col-md-6 order-md-1">
            <div class="text-center">
                <img class="img-fluid w-75 shadow-lg" src="https://ik.imagekit.io/valter/StefanPortfolio/tr:w-800/StefanImage.jpg" alt="Stefan">
            </div>
        </div>

    </div>
</div>


@*Instagram widget*@
<div class="mt-5 pt-5 border-top border-1 border-light-subtle">
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-a43a4f68-4301-4480-b000-4c6058e3fc12" data-elfsight-app-lazy></div>
</div>



