@implements IDisposable
@inject IShoppingCartService shoppingCartService


<div class="cart-container">
    <a href="ShoppingCart" class="btn mt-1">
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="badge bg-dark">@shoppingCartItemCount</span>
    </a>
</div>



@code {
    private int shoppingCartItemCount = 0;
    private List<CartItemDto> shoppingCartItems;

    protected override void OnInitialized()
    {
        shoppingCartService.OnShoppingCartChanged += ShoppingCartChanged;
      

        
    }

    protected void ShoppingCartChanged(int totalQty)
    {
        shoppingCartItemCount = totalQty;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        shoppingCartService.OnShoppingCartChanged -= ShoppingCartChanged;
    }

}