<footer class=" mt-auto">
      
    <div class="text-center p-2 bg-body-tertiary ">
        ©2024
        <a class="text-body " href="https://solaricrealm.com/">solaricrealm.com</a>
    </div>
    
</footer>
