
@inherits LayoutComponentBase


<div class="d-flex flex-column ">
    
    <NavMenu  />
    
    
    <main class="mx-5 pt-5 border-end border-star ">
       

        <article class="content mx-1  ">
            
            @Body
        </article>
        
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    protected override void OnInitialized()
    {

       
    }

  
}