@using PortfolioWebsite.Client.Services.Contracts
@using PortfolioWebsite.Models.DTOs
@implements IDisposable
@inject IShoppingCartService ShoppingCartService


<div class="d-flex flex-row nav-item-container-width ">
    <a href="ShoppingCart" class="btn mt-1 nav-item-container-fix cart-menu">
        <i class="bi bi-cart fa-sm"></i>
        <span class="badge bg-secondary">@shoppingCartItemCount</span>
    </a>
</div>



@code {
    private int shoppingCartItemCount = 0;
    private List<CartItemDto> shoppingCartItems;

    //Subscribe to the OnShoppingCartChanged event to know when the shopping cart changes
    protected override async Task OnInitializedAsync()
    {
        shoppingCartItemCount = await ShoppingCartService.GetItemsCount();
        ShoppingCartService.OnShoppingCartChanged += ShoppingCartChanged;
        

        
    }

    protected void ShoppingCartChanged(int totalQty)
    {
        shoppingCartItemCount = totalQty;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        ShoppingCartService.OnShoppingCartChanged -= ShoppingCartChanged;
    }

   

}