@page "/order-success"
<PageTitle>Order Success</PageTitle>

<div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <div> <h2>Thank you so much for you order!</h2></div>
    <div>
        <p>An invoice will be sent to your e-mail adress.</p>
    </div>
        <div>
        <p class="text-danger">(Does not work in test mode)</p>
    </div>
</div>
