@inherits ProductsBase


@if (Products == null)
{
	<h2 class="text-danger">When you first open the shop or cart, it will attempt to wake up the database. Please wait until an error message appears, and then reload the page. (Note: This only applies in test mode.)</h2>
	<DisplaySpinner/>
}
else
{
	

	var productCount = Products.Count();

	if (productCount > 0)
	{		
			@foreach(var prodGroup in GetFroupedProductsByCategory()){
				<h4>@GetCategoryName(prodGroup)</h4>

			<div class="row mt-3">
				<DisplayProducts Products="@prodGroup"></DisplayProducts>
			</div>
			<hr class="mb-3"/>
			}
			

		
	}
}
