<div class="carousel-container">
	<HxCarousel Crossfade="true" Interval="3000" Pause="CarouselPause.False">
	<HxCarouselItem Active="true">
		<div class="vh-100 ">
			<img src="/img/slideshow/1.jpg" class=" lg-img-fluid carousel-img" alt="...">
		</div>
	</HxCarouselItem>
	<HxCarouselItem>
		<div class=" vh-100">
			<img src="/img/slideshow/2.jpg" class="lg-img-fluid carousel-img" alt="...">
		</div>
	</HxCarouselItem>
	<HxCarouselItem>
		<div class=" vh-100  ">
			<img src="/img/slideshow/3.jpg" class="lg-img-fluid carousel-img" alt="...">
		</div>
	</HxCarouselItem>
	</HxCarousel>
	<div class="logo-container ">
		<!-- Your logo goes here -->
		<img src="/img/slideshow/image-from-rawpixel-id-6271210-png.png" class="logo img-fluid" alt="Logo">
	</div>
	<div class="arrow-down animate-flicker">
		 <a href="#rest"><svg color="white"  xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67" />
			</svg>
		</a>
	</div>

</div>