<div class="carousel-container">
	<HxCarousel Crossfade="true" Interval="4000" Pause="CarouselPause.False">
	<HxCarouselItem Active="true">
		<div class="vh-100 ">
				<img src="https://ik.imagekit.io/valter/StefanPortfolio/slideshow/Slideshow%20image%20(1).jpg" class=" lg-img-fluid carousel-img zoom" alt="...">
		</div>
	</HxCarouselItem>
	<HxCarouselItem>
		<div class=" vh-100">
				<img src="https://ik.imagekit.io/valter/StefanPortfolio/slideshow/Slideshow%20image%20(2).jpg" class="lg-img-fluid carousel-img zoom" alt="...">
		</div>
	</HxCarouselItem>
	<HxCarouselItem>
		<div class=" vh-100  ">
				<img src="https://ik.imagekit.io/valter/StefanPortfolio/slideshow/Slideshow%20image%20(3).jpg" class="lg-img-fluid carousel-img zoom" alt="...">
		</div>
	</HxCarouselItem>
		<HxCarouselItem>
			<div class=" vh-100  ">
				<img src="https://ik.imagekit.io/valter/StefanPortfolio/slideshow/Slideshow%20image%20(4).jpg" class="lg-img-fluid carousel-img zoom" alt="...">
			</div>
		</HxCarouselItem>
		<HxCarouselItem>
			<div class=" vh-100  ">
				<img src="https://ik.imagekit.io/valter/StefanPortfolio/slideshow/Slideshow%20image%20(5).jpg" class="lg-img-fluid carousel-img zoom" alt="...">
			</div>
		</HxCarouselItem>
		<HxCarouselItem>
			<div class=" vh-100  ">
				<img src="https://ik.imagekit.io/valter/StefanPortfolio/slideshow/Slideshow%20image%20(6).jpg" class="lg-img-fluid carousel-img zoom" alt="...">
			</div>
		</HxCarouselItem>
	</HxCarousel>
	<div class="logo-container d-flex justify-content-center ">
		<!-- Your logo goes here -->
		<img src="/img/logo.svg" class="logo" alt="Logo">
	</div>
	<div class="arrow-container ">
		<a href="#rest">
			<img src="/img/arrow.png" class="arrow-down animate-flicker " width="100">
		</a>
	</div>

</div>