@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using PortfolioWebsite.Client.Services.Contracts

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IManageCartItemsLocalStorageService ManageCartItemsLocalStorageService
@inject IJsInteropService JsInteropService
<AuthorizeView>
    <Authorized>

        <div class="d-flex flex-row">
            <a href="#" class="btn mt-1 nav-item-container-fix" @onclick="BeginLogOut">
               
                <i class="bi bi-person-fill-slash fa-lg"></i>
                                   
            </a>
        </div>
       
    </Authorized>
    <NotAuthorized>

        <div class="d-flex flex-row">
            <a href="authentication/login" class="btn mt-1 nav-item-container-fix">
                <i class="bi bi-person-fill-lock fa-lg"></i>
            </a>
        </div>
            
        
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginLogOut(MouseEventArgs args)
    {
        ManageCartItemsLocalStorageService.RemoveCollection();  
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
	        await Task.Delay(500); 
	        await JsInteropService.ToggleHamburger();
        }
    }
}