@inherits LayoutComponentBase
@inject NavigationManager NavManager




<div class="d-flex flex-column min-vh-100 grotesk-font ">

    @if (IsHomePage())
    {
        <div class="slideshow-container">
            <Slideshow />
        </div>
    }
    <div class="rest" id="rest"></div>
    <NavMenu  />
    
    
    <main class="mx-5 pt-5 ">
        
        <article class="content px-3 ">
            @Body
        </article>
        
    </main>

    <Footer/>
    
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
   

    private bool IsHomePage()
    {
        return NavManager != null && NavManager.Uri == NavManager.BaseUri;
    }

    
    
  
}
