.zoom {
    animation: ken-burn-in 30s;
    transform: scale(1.2);
}

@keyframes ken-burn-in {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}





@media (min-width: 992px) {

    .lg-img-fluid {
        max-width: 100%;
        height: auto;
    }
}


.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.carousel-container {
    position: relative;

}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
   
   
}

.logo {

    width: 150%; /* or any percentage */
    height: auto;
   
}



.arrow-down {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.logo-container {
    animation: fadeIn 5s; /* Adjust time as needed */
}







